<div>
  网址：
  <input type="text">
</div>
<div>
  <select id="source_type"></select>
  <select id="source_container"></select>
</div>
<div>
  <select id="medium_type">
    <option value="QRcode">二维码</option>
    <option value="link">链接</option>
  </select>
  <select id="medium_container">
    <option value=""></option>
    <option value="top">头条</option>
    <option value="second">次条</option>
    <option value="thrd">三条</option>
    <option value="forth">四条</option>
    <option value="banner">横幅</option>
    <option value="popup">弹窗</option>
    <option value="carousel">轮播图</option>
    <option value="bottom">底部</option>
    <option value="card">微信卡片</option>
    <option value="message">私信</option>
  </select>
  <select id="medium_style">
    <option value=""></option>
    <option value="article">文章</option>
    <option value="video">视频</option>
    <option value="poster" id='poster'>海报</option>
  </select>
</div>
<div>
  <select id="campaign_type">
    <option value="edu">课程</option>
    <option value="ec">电商</option>
    <option value="job-company">招聘公司</option>
    <option value="job-employee">招聘个人</option>
  </select>
  <input type="text" id="campaign_input" />
</div>
<div>
  <select id="content_type">
    <option value="detailpage">详情页</option>
    <option value="article">文章</option>
    <option value="video">视频</option>
  </select>
  <input type="number" id="content_id" />
  <input type="text" id="content_input" />
</div>
<div>
  <input type="text" id="utm_source">
  <input type="text" id="utm_medium">
  <input type="text" id="utm_campaign">
  <input type="text" id="utm_content">
  <input type="text" id="source">
  <input type="text" id="sourceLinkType">
  <input type="text" id="sourceObjID">
</div>
<div>
  <button onclick="">提交</button>
</div>
<script>
  var source = new Array()
  var medium = new Array()
  var sources = ''
  var sourceLinkType = ''
  var sourceObjID = ''
  var sourceStr = ''
  var mediumStr = ''
  var campaignStr = ''
  var contentStr = ''
  var sourceInfo = [{
      text: '微信消息',
      sign: 'wechat'
    },
    {
      text: '微信小程序',
      sign: 'mina'
    },
    {
      text: '微信公众号',
      sign: 'public'
    },
    {
      text: '微信服务号',
      sign: 'service'
    },
    {
      text: '短信',
      sign: 'sms'
    },
    {
      text: '网站',
      sign: 'web'
    },
    {
      text: '第三方平台',
      sign: 'purchased'
    },
    {
      text: '直播平台',
      sign: 'live'
    }
  ]

  source['微信消息'] = new Array({
    text: '好友对话框',
    sign: 'singlemessage'
  }, {
    text: '群聊对话框',
    sign: 'groupmessage'
  }, {
    text: '朋友圈',
    sign: 'timeline'
  })
  source['微信小程序'] = new Array({
    text: '圈子',
    sign: 'circle'
  }, {
    text: '课程',
    sign: 'edu'
  }, {
    text: '圈子电商',
    sign: 'ec-cine'
  }, {
    text: 'CineHelloStore',
    sign: 'ec-CineHelloStore'
  })
  source['微信公众号'] = new Array({
    text: '影视工业网',
    sign: 'cinehello'
  }, {
    text: '课程',
    sign: 'edu'
  }, {
    text: 'homeboy',
    sign: 'homeboy'
  })
  source['微信服务号'] = new Array({
    text: '影视工业网',
    sign: 'cinehello'
  }, {
    text: '课程',
    sign: 'edu'
  }, {
    text: 'homeboy',
    sign: 'homeboy'
  })
  source['短信'] = new Array({
    text: 'sms',
    sign: 'sms'
  }, )
  source['网站'] = new Array({
    text: '影视工业网',
    sign: 'cinehello'
  }, {
    text: '课程',
    sign: 'edu'
  }, {
    text: '招聘',
    sign: 'job'
  }, {
    text: '圈子',
    sign: 'circle'
  })
  source['第三方平台'] = new Array({
    text: '广点通',
    sign: 'tsa'
  })
  source['直播平台'] = new Array({
    text: '云犀',
    sign: 'yunxi'
  })

  // source
  function loadSourceContainer() {
    var container = document.getElementById("source_container")
    var type = document.getElementById("source_type")
    var index = type.options[type.selectedIndex].text
    container.innerHTML = ""
    for (var i in source[index]) {
      var op = new Option(source[index][i].text, source[index][i].sign)
      container.add(op)
    }
    sourceStr = type.options[type.selectedIndex].value + '-' + container.options[container.selectedIndex].value
    $('#utm_source').attr('value', sourceStr)
  }
  $(document).ready(function () {
    var type = document.getElementById("source_type")
    var container = document.getElementById("source_container")
    for (var p in source) {
      sourceInfo.map(function (item) {
        if (item.text === p) {
          var op = new Option(p, item.sign)
          type.add(op)
        }
      })
    }
    loadSourceContainer()
    type.onchange = function () {
      loadSourceContainer()
    }
    container.onchange = function () {
      sourceStr = type.options[type.selectedIndex].value + '-' + container.options[container.selectedIndex].value
      $('#utm_source').attr('value', sourceStr)
    }
  })
  // medium
  $(document).ready(function () {
    var type = document.getElementById("medium_type")
    var container = document.getElementById("medium_container")
    var style = document.getElementById("medium_style")
    var judge = function (value1, value2, value3, str) {
      if (!value1 && !value2) {
        str = value3
      } else if (!value1) {
        str = value3 + '-' + value2
      } else if (!value2) {
        str = value3 + '-' + value1
      } else {
        str = value3 + '-' + value1 + '-' + value2
      }
      return str
    }
    var selectIndex = function (type, container, style, index) {
      var type_value = type.options[type.selectedIndex].value
      var container_value = container.options[container.selectedIndex].value
      var style_value = style.options[style.selectedIndex].value
      return {
        type_value,
        container_value,
        style_value
      }
    }
    var type_value = type.options[type.selectedIndex].value
    type.onchange = function () {
      var {
        type_value,
        container_value,
        style_value
      } = selectIndex(type, container, style)
      if (type_value === 'link') {
        var poster = document.getElementById("poster")
        style.removeChild(poster)
        sources = "source='Link'"
        $('#source').attr('value', "source='Link'")
        if (container_value) {
          mediumStr = type_value + '-' + container_value
        } else {
          mediumStr = type_value
        }
        $('#utm_medium').attr('value', mediumStr)
        return
      } else {
        var createOption = document.createElement('option')
        createOption.value = "poster"
        createOption.text = '海报'
        createOption.id = "poster"
        style.appendChild(createOption)
        sources = ''
        $('#source').attr('value', "")
      }
      mediumStr = judge(container_value, style_value, type_value, mediumStr)
      $('#utm_medium').attr('value', mediumStr)
    }
    container.onchange = function () {
      var {
        type_value,
        container_value,
        style_value
      } = selectIndex(type, container, style)
      mediumStr = judge(container_value, style_value, type_value, mediumStr)
      $('#utm_medium').attr('value', mediumStr)
    }
    style.onchange = function () {
      var {
        type_value,
        container_value,
        style_value
      } = selectIndex(type, container, style)
      if (style_value === 'poster') {
        $('#source').attr('value', "source='scanPoster'")
      }
      mediumStr = judge(container_value, style_value, type_value, mediumStr)
      $('#utm_medium').attr('value', mediumStr)
    }
    mediumStr = type_value
    $('#utm_medium').attr('value', mediumStr)
  })
  // campaign
  $(document).ready(function () {
    var type = document.getElementById("campaign_type")
    var input = document.getElementById("campaign_input")
    var campaign = function (inputValue, type, campaignStr) {
      if (inputValue) {
        campaignStr = type.options[type.selectedIndex].value + '-' + inputValue
        $('#utm_campaign').attr('value', campaignStr)
      } else {
        campaignStr = type.options[type.selectedIndex].value
        $('#utm_campaign').attr('value', campaignStr)
      }
    }
    campaign(input.value, type, campaignStr)
    type.onchange = function () {
      campaign(input.value, type, campaignStr)
    }
    input.onchange = function () {
      campaign(input.value, type, campaignStr)
    }
  })
  // content
  $(document).ready(function () {
    var type = document.getElementById("content_type")
    var input = document.getElementById("content_input")
    var id = document.getElementById('content_id')
    var content = function (inputValue, type, id, contentStr) {
      if (inputValue) {
        contentStr = type.options[type.selectedIndex].value + '-' + id + '-' + inputValue
        $('#utm_content').attr('value', contentStr)
      } else {
        contentStr = type.options[type.selectedIndex].value + '-' + id
        $('#utm_content').attr('value', contentStr)
      }
    }
    content(input.value, type, id.value, contentStr)
    type.onchange = function () {
      content(input.value, type, id.value, contentStr)
      if (type.options[type.selectedIndex].value === 'video') {
        sourceLinkType = 'video'
        $('#sourceLinkType').attr('value', 'video')
      } else if (type.options[type.selectedIndex].value === 'article') {
        sourceLinkType = 'article'
        $('#sourceLinkType').attr('value', 'article')
      } else {
        $('#sourceLinkType').attr('value', '')
      }
    }
    id.onchange = function () {
      $('#sourceObjID').attr('value', id.value)
      content(input.value, type, id.value, contentStr)
    }
    input.onchange = function () {
      content(input.value, type, id.value, contentStr)
    }
  })
</script>