<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2">
    <h2>UTM 链接生成</h2>
    <hr>
    <div class="text-center", class="original_url", id="utm_original_url">
      <h3>原网址： </h3>
      <p><%= @utm_url.original_url %></p>
    </div>

    <div class="text-center", id="utm_url">
      <h3>UTM 链接： </h3>
      <input id="utm" type="text" class="form-control" value=<%= @utm_url.utm_url %>>
<!--      <button class="btn btn-primary btn-sm text-right", id="copy_btn">-->
        <%= link_to '一键生成短网址', shortened_urls_path(:shortened_url => {:original_url => "#{@utm_url.utm_url}"}), :method => :post, class: 'btn btn-primary btn-sm text-right', id: 'generate_short_btn' %>
<!--      </button>-->
      <%#= link_to '一键生成短网址', {:controller => "shortened_urls", :action => "create", (shortened_url[original_url]).to_sym => "#{@utm_url.utm_url}" }, :method => :post, class: 'btn btn-primary btn-sm text-right', id: 'generate_short_btn' %>
    </div>
  </div>
</div>

<script type="text/javascript">
  window.onload = function () {
    var btn = document.getElementById("copy_btn");
    var url = document.getElementById("utm");
    btn.onclick = function (){
      url.select();
      document.execCommand("Copy");
    }
  }
  $(function() {
　　if (window.history && window.history.pushState) {
　　$(window).on('popstate', function () {
　　window.history.pushState('forward', null, '');
　　window.history.forward(1);
　　});
　　}
　　window.history.pushState('forward', null, ''); //在IE中必须得有这两行
　　window.history.forward(1);
　　})
</script>

