<div class="col-md-8 col-md-offset-2">
  <h2>短网址生成中心</h2>

  <hr>
  <%= simple_form_for @url do |f| %>
    <div class="form-group">
      <%= f.input :original_url, label: '输入网址：', input_html: { class: "form-control"} %>
    </div>
    <br>

    <div class="submit">
      <%= f.submit "生成短网址", class: "btn btn-primary", data: { disable_with: "提交中..." } %>
    </div>
  <% end %>
</div>
