<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2">
    <h2 style="text-align: center;">短网址生成中心</h2>
    <hr>
    <div class="text-center", style="margin-bottom: 30px;" >
      <h4>原网址： </h4>
      <p style="padding-left: 30px; margin-bottom: 0px; font-size: 18px"><%= @url.original_url %></p>
    </div>
    <div class="row">
      <div class="col-md-6 text-center"><h4>二维码</h4></div>
      <div class="col-md-6 text-center"><h4>短网址</h4></div>
    </div>
    <div class="row">
      <div class="col-md-4", style="padding-left: 50px";>
        <div class="qr_code">
          <%= image_tag @url.qr_code.thumb('300x300#').url if @url.qr_code_stored? %>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1 text-center", style="padding-left: 0px; padding-top: 100px; padding-bottom: 120px; margin-left: 200px; margin-top: 25px; border-style: groove";><p style="padding-left: 30px; margin-bottom: 0px; font-size: 18px"><%= @short_url %></p></div>
    </div>
  </div>
</div>