<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2">
    <h2>短网址生成中心</h2>
    <hr>
    <div class="text-center", id="original_url">
      <h4>原网址： </h4>
      <p><%= @url.original_url %></p>
    </div>
    <div class="row">
      <div class="col-md-6 text-center"><h4>二维码</h4></div>
      <div class="col-md-6 text-center", id="short_url_title"><h4>短网址</h4></div>
    </div>
    <div class="row">
      <div class="col-md-4", id="qr_code_image">
        <div class="qr_code">
          <%= image_tag @url.qr_code.thumb('300x300#').url if @url.qr_code_stored? %>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1 text-center", id="short_url">
        <p><%= @short_url %></p>
      </div>
    </div>
  </div>
</div>
